@model ForumApplication.WEB.Models.BaseForumContainerViewModel

@{
    ViewBag.Title = "section";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Section</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>UserName</th>
                    <th>List of Topics</th>
                </tr>
            </thead>
                <tr>
                    <td>
                        @Model.Title
                    </td>
                    <td>@Model.UserName</td>
                    <td>
                        <ul>
                            @foreach (var item in Model.NestedItemListInfo)
                        {
                            <li>
                                @Html.ActionLink($"{@item.Title}", "Item", "Topic", new { id = item.Id }, null)
                            </li>
                    }
                        </ul>
                    </td>
                </tr>
            
        </table>
        <button class="btn btn-dark  d-block m-2" type="button"
                onclick="location.href='@Url.Action("Create","Topic", new {Id = Model.Id })'">
            <h5>Create New Topic</h5>
        </button>
    </div>
</body>
</html>
