@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<div class="border-warning border p-2 border rounded container-for-card ml-2 mr-2">
    <h1 class="text-light text-center " id="welcomtext">FAQ </h1>
    <div class="text-light">
        <p class="text-white font-weight-bold ml-2">Do you have a LICENSE AGREEMENT as a publisher with SmiteWorks?</p>

        If not, you need one. This outlines how the products will be sold and distributed and how royalties
        and commissions are divided out. Look below for more information but don't proceed at all until this has been addressed.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">Are there any exceptions to this rule?</p>

        We have an agreement in place with DMsGuild.com to allow people to distribute Fantasy Grounds modules through their site. We receive a flat percentage of these sales. Please note that DMsGuild.com has separate licensing restrictions that you must also agree to. The biggest is that content distributed through DMsGuild.com can only ever be distributed there and that you are granting several rights to your work products to DMsGuild.com by agreeing to distribution through that channel.

        Visit the DMsGuild FAQ about Fantasy Grounds to read more.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">Does your Kickstarter require a new ruleset or new game mechanics that don't already exist in Fantasy Grounds?</p>

        If so, then you probably should not do this as part of a Kickstarter. Deliver your KS project without FG first and then investigate how you can build a ruleset. A ruleset should be developed and built by you or someone close to you before you ever consider adding it to a Kickstart project as a reward or add-on. These are not trivial to build and take a significant amount of time and effort. In most cases, we (SmiteWorks) is not interested in building a new system. While we would like to help you, we simply don't have the resources to build additional rulesets.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">What sort of products are easy to add support to Fantasy Grounds?</p>

        Generally, adventure modules, map packs and token packs are the easiest to add to Fantasy Grounds. You will need to provide images, maps in both DM and player view and make sure they will work with a grid attached to them per 5' step. Hidden items should be in a separate layer and you should ensure that you have all the necessary rights to redistribute any art that you use in your product. That is true regardless of whether or not FG is a part of your project.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">What sort of products require special attention and discussion for use in Fantasy Grounds?</p>

        Anything that deals with the mechanics of an existing ruleset requires special attention. For instance, if you have a list of 5E NPCs or spells, these have to be worded in the same exact syntax used by the official D&D products; otherwise, the automation within Fantasy Grounds will not work for them and your product will become a display and reference-only product. If that is the case, you should make sure this is clear in your product and project description. Similarly, character classes, pre-generated character, new character options, spells, magic items and equipment all have a very specific format that you will have to match.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">Can you help connect us with a developer to do the conversion work for our project?</p>

        Possibly. We have a lot of highly skilled developers, artists and content producers for Fantasy Grounds. One thing to consider is that most of these people are fans first, though, and may not be as dependable as contract developers. If real life gets in the way, these helpers may not be able to complete the project as intended and then you will have to find a replacement to pick up and complete the work. For this reason, we generally recommend contacting us early before you consider doing this work.
        <br /><br />
        <b class="text-white font-weight-bold ml-2">What if I already have a developer?</b>

        This is great. Your royalty percentage in your Publisher Agreement with us will be higher as a result since we don't have to pay the developer.
        <br /><br />
        <p>What if I already have the Fantasy Grounds conversions complete and ready now?</p>

        This is the best case scenario. Our biggest concern with becoming an official part of your project is managing expectations and delivering a good quality product in a reasonable amount of time. We would still want to review the product to ensure it matches with our quality standards, but if it does, then you will most likely receive a stamp of approval from us and the whole process will be much easier.
        <br /><br />
        <p class="text-white font-weight-bold ml-2">Will you help us advertise our project?</p>

        If you have followed all the steps above, then we would be happy to help you advertise your project.

        General thoughts

        Don't bite off more than you can chew. I have seen many Kickstarter projects get wrapped up in having a successful Kickstarter Project, that they get completely overwhelmed with she amount of work and deliveries that they have to provide. If you want to run a PDF and physical book version of your Kickstarter, we can always work with you to make Fantasy Grounds versions after the fact.
    </div>
</div>
