
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello</h1>

        @*@Html.ActionLink("View List of Forum", "ShowForumList", "ForumController");*@
    </div>
</body>
</html>
