@{
    ViewBag.Title = "Index";

        Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<div class="container-fluid" id="maintitle">
    <div id="mainTextdiv">
        <h1 id="hellotext" class="text-light text-center">Hello!</h1>
        <h1 class="text-light text-center " id="welcomtext">Welcome to our fantasy forum  </h1>

        <button class="btn btn-outline-warning mx-auto d-block" type="button"
                onclick="location.href='@Url.Action("List", "Forum")'">
            <h4><b>Go to Forum</b></h4>
        </button>
    </div>
</div>

