@model List<ForumApplication.WEB.Models.BaseForumContainerViewModel>

@{
    ViewBag.Title = "Index";

        Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<div class="container-fluid mt-5 ">
    <div class="border-warning border p-2 border rounded" style="background-color:#313131d9;">
        @Html.DisplayForModel(Model)
    </div>
         
</div>
    

