@model ForumApplication.WEB.Models.BaseForumContainerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h2 class="text-center text-info">Create New Forum</h2>
        @using (Html.BeginForm())
        {
            <input type="hidden" value="1" name="UserId" />
            <p>Title</p>
            @Html.TextBoxFor(x => x.Title)
            <input type="submit" name="Add" />

        }

    </div>
</body>
</html>
