
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jtable/jquery.jtable.min.js"></script>


<link href="~/Scripts/jtable/themes/metro/crimson/jtable.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/JtableConfig.js"></script>

<style>
 button {
   background-color: #ffffff;
   color: red;
   border-color: red;
   border-width: 2px;
   transition-duration: 0.6s;
}

 button:hover {
    background-color: #dc3545;
    color: white;
    border-width: 2px;
    border-color: red;
}


    .ui-widget-header {
        border: 1px solid #ddd;
        background: #a43333;
        color: #fff;
        font-weight: bold;
    }
    
</style>


<div class="container border border-danger rounded mt-5 bg-white" id="jtable-container">
    <div id="PersonTableContainer"></div>
</div>
